@font-face {
   font-family: 'mainfont';
   font-display: swap;
   src: url('file:///C:/Users/Lenovo/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-12-23_202625/fonts/mainfont/font.TTF');
}
